<div class="list-group mt-5">
    <div class="list-group-item flex-column align-items-start col-lg-8 offset-lg-2">
      <h3>Nuevo Profesor</h3>
      <form (ngSubmit)="agregar()">
        <div class="form-group">
        <label class="form-label mt-2">Nombre</label>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" [(ngModel)]="nombre" [ngModelOptions]="{standalone: true}" id="nombreInput" placeholder="Nombre">
          <label for="NombreInput">Nombre</label>
        </div>
        <label class="form-label mt-2">Apellido</label>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" [(ngModel)]="apellido" [ngModelOptions]="{standalone: true}" id="apellidoInput" placeholder="Nombre">
          <label for="ApellidoInput">Apellido</label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-block btn-lg">Guardar</button>

    </form>
    </div>
  </div>