<div class="list-group mt-5">
    <div class="list-group-item flex-column align-items-start col-lg-8 offset-lg-2">
        <h3>Clases</h3>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Profesor</th>
        <th scope="col">Materia</th>
        <th scope="col">Ver alumnos</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let clase of listClases">
        <th scope="row">{{ clase.nombre}}</th>
        <th scope="row">{{ clase.profesor.apellido}}</th>
        <th scope="row">{{ clase.materia.nombre}}</th>
        <td><a class="link mt-2" href="alumnosporclase/{{clase.claseId}}">Ver alumnos</a></td>
        <td><button type="button" (click)="delete(clase.claseId)" class="btn btn-danger">Eliminar</button>
          <button type="button" (click)="redirigirARuta(clase.claseId)" class="btn btn-warning" style="margin-left: 10px;">Editar</button> 
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>


