<div class="list-group mt-5">
    <div class="list-group-item flex-column align-items-start col-lg-8 offset-lg-2">
        <h3>Materias</h3>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active">
        <tr *ngFor="let materias of listMaterias">
          <th scope="row">{{ materias.nombre}}</th>
          <td><button type="button" (click)="delete(materias.materiaId)" class="btn btn-danger">Eliminar</button>
            <button type="button" (click)="redirigirARuta(materias.materiaId)" class="btn btn-warning" style="margin-left: 10px;">Editar</button> 
          </td>
  
        </tr>
    </tbody>
  </table>
</div>
</div>
