<div class="list-group mt-5">
    <div class="list-group-item flex-column align-items-start col-lg-8 offset-lg-2">
        <h3>Alumnos</h3>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Ver clases</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let alumno of listAlumnos">
        <th scope="row">{{ alumno.nombre}}</th>
        <th scope="row">{{ alumno.apellido}}</th>
        <td><a class="link mt-2" href="clasesporalumno/{{alumno.alumnoId}}">Ver clases</a></td>
        <td>
          <button type="button" (click)="delete(alumno.alumnoId)" class="btn btn-danger">Eliminar</button> 
          <button type="button" (click)="redirigirARuta(alumno.alumnoId)" class="btn btn-warning" style="margin-left: 10px;">Editar</button> 
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>

