<div class="list-group mt-5">
    <div class="list-group-item flex-column align-items-start col-lg-8 offset-lg-2">
      <h3>Nueva Clase</h3>
      <form action="">
      <div class="form-group form-control-lg">
        <label class="form-label mt-2">Nombre</label>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="Nombre">
          <label for="NombreInput">Nombre</label>
        </div>
      </div>
      <div class="form-group form-control-lg">
        <div class="form-group">
            <label for="exampleSelect1" class="form-label">Profesor</label>
            <select class="form-select" id="exampleSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
      </div>
      <div class="form-group form-control-lg">
        <div class="form-group">
            <label for="exampleSelect1" class="form-label">Materia</label>
            <select class="form-select" id="exampleSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
      </div>
    </form>
    <button class="btn btn-primary btn-block btn-lg">Guardar</button>
    </div>
  </div>
