<div class="list-group mt-5">
    <div class="list-group-item flex-column align-items-start col-lg-8 offset-lg-2">
      <h3>{{Title}} </h3>
      <form (ngSubmit)="agregar()">
      <div class="form-group form-control-lg">
        <label class="form-label mt-2">Nombre</label>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" [(ngModel)]="nombre" [ngModelOptions]="{standalone: true}" id="nombreInput" placeholder="Nombre">
          <label for="NombreInput">Nombre</label>
        </div>
      </div>
      <div class="form-group form-control-lg">
        <div class="form-group">
            <label for="profesorSelect" class="form-label">Profesor</label>
            <select class="form-select" [(ngModel)]="profesorSeleccionado" [ngModelOptions]="{standalone: true}" id="profesorSelect">
              <option [value]="objeto ? profesorSeleccionado : profesor.profesorId" *ngFor="let profesor of listProfesores">{{ profesor.nombre }} {{ profesor.apellido }}</option>
            </select>
          </div>
      </div>
      <div class="form-group form-control-lg">
        <div class="form-group">
            <label for="materiaSelect" class="form-label">Materia</label>
            <select class="form-select" [(ngModel)]="materiaSeleccionada" [ngModelOptions]="{standalone: true}" id="materiaSelect">
              <option [value]="objeto ? materiaSeleccionada : materia.materiaId"  *ngFor="let materia of listMaterias"> {{ materia.nombre }}</option>
            </select>
          </div>
      </div>
      <button type="submit" class="btn btn-primary btn-block btn-lg">Guardar</button>

    </form>
    </div>
  </div>
